{{#each this}}
<ul class='list-img'>
    <img  src="{{urls.small}}" width="265px">
    <li>User Name:</li>
    <li><span>{{user.name}}</span></li>
    <li>likes:<span>{{likes}}</span></li>
</ul>

{{/each}}