@import './components/spiner';

.search-form{
    padding-top: 50px;
    display: flex;
}
.form-control{
    margin-right: 20px;
}
.search-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.card-body{
    padding: 10px;
}
.js-img-container{
    margin: 0;
}
.col{
    margin-right: 0px;
    margin-bottom: 25px;
    padding-right: 0px;
}
.is-hidden{
    display: none;
}
.observer{
    height: 1px;
}